.header {
    border: 5px solid black;
    height: 200px;
    position: relative;
}

#logo {
    width: 200px;
    height: 200px;
    background: tomato;
    position: absolute;
    left: 0px;
    /* left, right, top, bottom, z-index */
    /* float: left; */
    /* display: inline-block; */
}

#menu {
    width: 200px;
    height: 200px;
    background: violet;
    position: absolute;
    right: 0px;

    /* display: inline-block; */
    /* float: right; */
}
