<div class="partial">
    <a href="/">Home</a>
    {{#name}}
    <a href="/projects/{{ . }}/description"><p>  {{ . }}  </p></a>
    {{/name}}
</div>

<!-- remove current class here, it makes no sense -->
<!-- add a object to name that checks if it is  class="current" -->
