/* The board has six rows and seven columns */

/* After a player wins, visually indicate which four pieces on the board satisfied the victory condition

Allow players to drag their pieces across the screen and drop them into their desired column using their mouse (or finger on touch screens)

Allow players to play using only their keyboard

Allow players at the beginning of the game to increase the number of columns on the board and the number of connected pieces that are required to win

Allow a single player to play against the computer */
* {
    box-sizing: border-box;
    justify-content: center;
}

/* playground */
.extraPiece {
    height: 100px;
    width: 100px;
    background: grey;
    position: absolute;
    z-index: -1;
    top: 115px;
    border-radius: 50%;
}

.animationB {
    animation-name: animationB;
    animation-duration: 0.05s;
}

@keyframes animationB {
    100% {
        top: 615px;
    }
}

/* end of playground */
.board {
    display: flex;
    position: relative;
}

.column {
    margin-top: 115px;
}

.slot {
    width: 100px;
    width: 100px;
    padding: 10px;
    overflow: hidden;
}

.hole {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 500px blue;
}

.winner {
    position: absolute;
    display: flex;
    width: 700px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: Helvetica;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: black;
}
.arrowP1 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    margin-left: 25px;
    border-bottom: 50px solid #f44336;
}
.playerP2 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    margin-left: 25px;
    border-bottom: 50px solid #555;
}

.pointer {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
    margin-left: 25px;
}

.comeback {
    position: absolute;
    height: 100px;
    width: 251px;
    top: 775px;
    font-size: 25px;
    background: lightgrey;
    font-family: Helvetica;

    animation-name: animationA;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.animationA .hole {
    animation-name: animationA;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes animationA {
    0% {
    }
    50% {
        background-color: orange;
    }
    100% {
    }
}
