.container {
    border: 2px solid red;
    width: 500px;
    height: 200px;
    /* display: flex;
    flex-direction: column; */
}

/* put photo and text in one div. */
div img p () give inline block. .photo {
    border: 2px solid black;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.photo img {
    width: 100px;
    height: 100px;
}

.text {
    padding: 2px;
    border: 2px solid green;
}

.properties {
    border: 2px solid yellow;
}

.writings {
}

.quote {
    margin-top: 2px;
    font-style: italic;
}

h3 {
    margin: 1px;
    font-size: 16px;
    text-decoration: underline;
    font-weight: normal;
}
