<div class="view">
    <h1>Welcome to my {{siteName}} fansite</h1>

    {{#characters}}
        <h2>{{character}}</h2>
        <ul>
            {{#quotes}}
            <li> {{ . }}</li>
            {{/quotes}}
        </ul>
    {{/characters}}

</div>
