body {
    display: flex;
}

.box {
    height: 100px;
    width: 100px;
    margin: 3px;
    display: flex;
}

.small {
    height: 50px;
    width: 50px;
}

.one {
    justify-content: flex-end;
    background: grey;
}

.two {
    justify-content: flex-end;
    align-items: flex-end;
    background: black;
}

.three {
    align-items: flex-end;
    background: blue;
}

.four {
    background: purple;
}

.small.one {
    background: orange;
}

/*
.small.one: these are smalles that are also ones.
.box .one: these are ones contained by boxes */

.small.two {
    background: yellow;
}

.small.three {
    background: green;
}

.small.four {
    background: pink;
}
