body {
    margin: 0;
}

#kitties {
    /* border: 2px solid red; */
    position: relative;
    height: 600px;
    /* overflow: hidden; */
}

.kitty {
    border: 2px solid green;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* offscreen to the right is default state */
    transform: translateX(100%);
}

.kitty.onscreen {
    border: 2px solid yellow;
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 1s;
}

.kitty.exit {
    border: 2px solid black;
    transform: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}

.kitty img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
